@import '_reset';
@import '_variables';

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


body {
    background: black;
}


.dashboard {
    display: flex;
    font-family: Inter;
}

.main {
    background-color: #F9FAFC;
    flex: 1 1 auto;
}

.sidebar {
    background-color: $sidebar-bg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.sidebar_size {
    //height: 600px;
    width: 280px;
    flex: 0 0 auto;
    @media (max-width: $break-point) {
        width: 76px;
    }
}

.menu {
    padding: 24px 16px;
}

.menu-button {
    background-color: $sidebar-bg;
    color: #D1D5DB;
    padding: 0 14px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 40px;
}

.menu .menu-button {
    margin-bottom: 4px;
}

.menu-button_active {
    background-color: rgba(255, 255, 255, 0.08);
    color: #10B981;
}

.menu-button__text {
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.menu-button__text_visibility {
    @media (max-width: $break-point) {
        display: none;
    }
}

.sidebar-footer {
    border-top: #1F2937 1px solid;
    padding: 24px 16px;
    //margin-top: auto;
}

.sidebar-footer_visibility {
    @media (max-width: $break-point) {
        display: none;
    }
}

.sidebar-footer__text-1 {
    font-size: 16px;
    line-height: 175%;
    color: #F3F4F6;
    display: block;
}

.sidebar-footer__text-2 {
    font-size: 14px;
    line-height: 157%;
    color: #9CA3AF;
    display: block;
}

.sidebar-footer__button {
    background: #10B981;
    border-radius: 8px;
    height: 40px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-footer__button-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-right: 10.5px;
}


.container {
    padding: 24px;
    color: #111827;
}

.app-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 64px;
    background: #FFF;
}

.app-bar__right_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 152px;
    margin-right: 24px;
}

.app-bar__icon-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-header {
    height: 84px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.page-header__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 137.5%;
}

.page-header__actions {
    display: flex;
}

.page-header__icon-button {
    display: flex;
    width: 101px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.page-header__icon-button-text {
    margin-left: 11px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #5048E5;
}

.page-header__button {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 8px 20px;
    background: #5048E5;
    border-radius: 8px;
}

.card {
    background: #FFF;
    border-radius: $card-radius;
}

.container__search {
    margin-top: 32px;
    padding: 32px 24px;
}

.input-with-label {
    width: 500px;
    height: 56px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.input-with-label legend {
    margin-left: 16px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.15px;
    color: #6B7280;
}

.input-with-label img {
    margin-left: 15px;
}

.container__table {
    margin-top: 32px;
    border-radius: $card-radius;
}

.container__table-title {
    padding: 32px 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 137.5%;
    color: #111827;
    background: white;
    border-radius: $card-radius;
}

.main-table {
    width: 100%;
    text-align: left;
    background: white;
}

.main-table thead {
    background: #F3F4F6;
}

.main-table th {
    vertical-align: middle;
    padding: 10px 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 250%;
}

.main-table td {
    padding: 16px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 157%;
    border-bottom: #E6E8F0 1px solid;
}

.main-table img {
    vertical-align: middle;
}

.main-table__name-cell {
    //vertical-align: middle;
    font-size: 16px;
    line-height: 150%;
    margin-left: 16px;
}

.container__table-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 56px;
    border-radius: $card-radius;
}

.frame {
    display: flex;
    align-items: center;
}

.frame__label {
    font-size: 12px;
    line-height: 166%;
    color: #6B7280;
}

.pagination-select input {
    //outline: unset;
    border: none;
    font-size: 12px;
    margin-left: 8px;
    width: 14px;
}

.pagination-select img {
    margin-bottom: 2px;
}

.container__table-footer-range {
    font-size: 12px;
    line-height: 166%;
    margin-left: 33px;
    margin-right: 26px;
}

.navigation img {
    width: 40px;
    height: 40px;
    padding: 14px;
    box-sizing: border-box;
}


.page-footer {
    border-top: #E6E8F0 1px solid;
    padding-top: 9px;
    margin: 0 24px;
}

.container .page-footer {
    margin-top: 32px;

}

.page-footer__text-1 {
    font-size: 14px;
    line-height: 157%;
    
}

.page-footer__text-2 {
    font-size: 14px;
    line-height: 157%;
    color: #6B7280;
    margin-top: 8px;
}


.sort-icon {
    padding: 0 4px;
}