$bg: #dadbdf;

body {
    background-color: $bg;
}

.dashboard {
    display: flex;
}

.content {
    background-color: rebeccapurple;
    flex: 1 1 auto;
}

.sidebar {
    background-color: dimgray;
  }
  
.sidebar_size {
    height: 200px;
    width: 280px;
}
  
@media (max-width: 599px) { 
    .sidebar_size {
        width: 76px;
    }
}

