@import '_reset';
@import '_variables';

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


body {
    background: black;
}


.dashboard {
    display: flex;
    font-family: Inter;
}

.main {
    background-color: #F9FAFC;
    flex: 1 1 auto;
}

.sidebar {
    background-color: #111827;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.sidebar_size {
    height: 600px;
    width: 280px;
    @media (max-width: $break-point) {
        width: 76px;
    }
}

.menu {
    padding: 24px 16px;
}

.menu-button {
    background-color: rgba(255, 255, 255, 0.08);
    color: #D1D5DB;
    padding: 13px 14px;
}

.menu-button__text {
    color:#D1D5DB;
    margin-left: 10px;
}

.menu-button__text_visibility {
    @media (max-width: $break-point) {
        display: none;
    }
}

.sidebar-footer {
    border-top: #1F2937 1px solid;
    padding: 24px 16px;
    //margin-top: auto;
}

.sidebar-footer_visibility {
    @media (max-width: $break-point) {
        display: none;
    }
}

.sidebar-footer__text-1 {
    font-size: 16px;
    line-height: 175%;
    color: #F3F4F6;
    display: block;
}

.sidebar-footer__text-2 {
    font-size: 14px;
    line-height: 157%;
    color: #9CA3AF;
    display: block;
}

.container {
    padding: 24px;
}

.app-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 64px;
    background: #FFF;
}

.app-bar__right_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 152px;
    margin-right: 24px;
}

.app-bar__icon-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-header {
    height: 84px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.page-header__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 137.5%;
    color: #111827;
}

.page-header__actions {
    display: flex;
}

.page-header__icon-button {
    display: flex;
    width: 101px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.page-header__icon-button-text {
    margin-left: 11px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #5048E5;
}

.page-header__button {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 8px 20px;
    background: #5048E5;
    border-radius: 8px;
}